.background{
    background-image: url('../img/Fondo.jpg');
    width: 100%;
    height: 765px;
    padding: 0%;
    margin: 0%;
}

.background1{
    background-image: url('../img/Fondo1.jpg');
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 1600px;
    height: 765px;
    padding: 0%;
    margin: 0%;
}

.cont{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.logo{
    width: 100px;
    height: auto;
}


.logo1{
    width: 300px;
    height: auto;
}

.alineacion{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input{
    height: 120px;
    width: 400px;
    text-align: center;
    font-size: larger;
    border-radius: 100px;
    border: 70px;
    border-color: blueviolet;
}

.Poke{
    width: 150px;
    height: 150px;
}

.pok{
    display: flex;
}

.cen{
    justify-content: center;
}

.bot{
    margin-top: 50px;
    padding: 0px;
    border-radius: 100px;
}

.bot1{
    height: 50px;
    width: 200px;
    margin-top: 50px;
    border-radius: 100px;
}

.columna{
    margin-top: 150px;
    height: 400px;
}

.separador{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.page2{
    display: flex;
}